.logo{
    background-size: contain;
    background-position: center;
        width:100%;
        height:100%;
        clear:both;
    }
    
    .logo img {
        margin-left: 25%;
        margin-right: 25%;
    }
  
body{
    background-image: url("background-1.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.btn {
       border: 2px solid #d4af37;
    display:block;
   position: absolute;
   left:50%;
   transform: translate(-50%,0);
  background-color: transparent;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  text-shadow: black 2px 2px;
  cursor: pointer;
  }
  .btn:focus {
    outline: none;
  }
  .btn:active {
    transform: scale(0.98);
  }
  .btn-block {
    display: block;
    width: 200%;
  }